*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

html,body{
    background-color: #eaeaea;
    color: black;
   
    font-size: 15px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*.clearfix{
    zoom:1
}*/
/*.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}*/
.row{
    max-width: 1140px;
    margin: 0 auto;
   
    }
section{
    padding: 10px 0;
}

.logo{
    width: 50px;
    height: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(#4f5050) , to(#ccd4d4));
    background-image: linear-gradient(to right, #4f5050 , #ccd4d4);
}

/*-------------------------MAin Navigation-------------------------------------------*/
.main-nav{
    float:right;
    list-style: none;
    margin-top: 10px;
   background-image: -webkit-gradient(linear, left top, right top, from(#4f5050) , to(#ccd4d4));
   background-image: linear-gradient(to right, #4f5050 , #ccd4d4);
    
    
}
.main-nav li{
    display: inline-block;
    margin-left : 40px;
   
   
}
.main-nav li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
   
        
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 3px solid #f52121
}

/*----------------STICKY NAVIGATION------------------------*/

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
  
        
}

/*--------------------------------Headers-------------------------------------------------------*/


h1{
    color: #ce2121;
    text-align: center;
   margin-top: 90px;
    
    
    
}

h3{
     font-size: 25px;
    font-weight: 500;
}

.tour-heading{
   margin-top: 25px;
    background-color: #c8d3d3;
    width: 100%;
    text-align: center;
    background-image: url(img/summer_beach_197261.jpg);
    background-size: cover;
    background-position: center;
      background-attachment: fixed;
    height: 200px;
}
/*---------------------------------------TOURS FEATURES----------------------------------------------------------*/

.tour-features{
    background-color: white;
}

/*------------------------------------------TOURS TYPES--------------------------------------------------------------------------*/

.tours-main-types{
    background-color: #eaeaea;
}

.tours-main-types img{
  margin-bottom: 0px;
    width: 100%;
     -webkit-box-shadow: 0 2px rgba(67, 48, 48, 0.41);
     box-shadow: 0 2px rgba(67, 48, 48, 0.41);
    }
.tours-main-types a{
     text-decoration: none;
}

.tours-main-types a:hover{
color: red;
}


.tours-main-types p{
    background-color: white;
    font-size: 20px;
    height: 30px;
    text-align: center;
    -webkit-box-shadow: 0 2px rgba(67, 48, 48, 0.41);
    box-shadow: 0 2px rgba(67, 48, 48, 0.41);
}
/*---------------------------------------------DEALS OF THE WEEK--------------------------------------------------------------------------*/
.deals-of-week{
    background-color: white;
    width: 90%;
    margin-left: 5%;
    height: 60px;
   
    
}
.deals-of-week h2{
    color: black;
     
}

.btn{
    text-decoration: none;
    float: right;
    background-color: red;
    padding: 5px;
    width: auto;
    height: 30px;
    text-align: center;
    color: white;
}

.btn:hover{
    background-color: grey;
    
}
.btn-full{
 margin-right: 15px;
}
/*-----------------------------------------------INTERNATIONAL TOURS----------------------------------------------------------------------*/

.International-group-tour-show-case{
    margin: 25px;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    height: 400px;
    
}
.International-img-showcase p:after{
    content: ' \20B9';
}

.International-img-showcase img{
    opacity: 0.7;
     width: 100%;
    padding: 20px;
   -webkit-transform: scale(1.15);
   transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;opacity: 0.5s;
    
    
}

.International-img-showcase img:hover{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.International-img-showcase a{
    text-decoration: none;
    color: black;
        
}
.International-img-showcase a:hover{
    color: red;
    
}
/*-------------------------------------------------PLAN YOUR HOLIDAY--------------------------------------------------------------------------------------------*/
.plan-your-holiday{
 
    width:90%;
   margin-left: 5%;
  height: 110px;
    background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(#59d9ff));
  background-image: linear-gradient(rgb(0, 0, 0), #59d9ff);
        
}


.plan-btn-full{
  width: 120px;
    height: auto;
   
}
.plan-div{
    font-size: 20px;
  padding: 10px 5px;
    height: auto;
     margin-top: 0px;
    
    
}
.plan-div h3{
    margin-top: 0px;
    color: white
  
}

/*--------------------------------------------------------------------------------------*/
.section-dealImage img{
   max-width: 100%;
  height: auto;
    margin-top: 20px;
   
}
/*------------------------------SOCIAL MEDIA ICONS------------------------------------*/
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}


/*---------------------------------------------MY KESARI STORY HEADING------------------------------------------------------*/
.kesari-story-heading{
    background-color: white;
    width: 90%;
    margin-left: 5%;
    height: 60px;
    margin-top: 20px;
   
    
}
.kesari-story-heading h2{
    color: black;
     
}
.story-section{
     height: 190px;
}


/*-------------------------------------------KESARI STORY SECTION-------------------------------------------------------------*/
.story-showcase{
    background-color: aqua;
    width: 100%;
   
}
.story-details-section{
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
    
}
.story-details{
    width: 25%;
    background-color: gainsboro;
    height: 550px;
    
}
.story-details h5{
     text-align: center;
    margin-top: 10px;
    
}
.story-details h6{
     text-align: center;
    margin-top: 50px;
    font-size: 25px;
    
}
.story-details p{
    padding: 10px;
    word-spacing: 3px;
    line-height: 20px
}
blockquote{
    position: relative;
    text-align: center;
    margin-top: 1px;
    font-size: 25px;
     margin-left: 45%;
    color: red;
    
}
cite{
    font-size: 90%;
    margin-top: 25px;
   
}

blockquote:before{
    content: "\201C";
    font-size: 400%;
    display: block;
    top: 1px;
    left: 0;
    position: absolute;
    
    
}
cite img{
    margin-left: 28%;
    height: 100px;
    border-radius: 60%;
    vertical-align: middle;
    width: 35%;
   
}

/*----------------------------------------------------------CONTACT US--------------------------------------------------------------------------------*/

.section-contactus{
   width: 100%;
    background-color: #aaaaaa;
    margin-top: 20px;
    height: 120px;
}
.section-contactus h6{
    font-size: 20px;
}

.btn-app-android img{
    height: 40px;
}
/*--------------------------------------------------------FOOTER---------------------------------------------------------------------------------------------*/
.footer p{
    text-align: center;
    margin-top: 25px;
    
}
/*.footer img{
    width: 5%;
    height: auto;
 
}*/
/*----------------------------------------------SOCIAL MEDIA ICONS_STICKY-----------------------------------------------------------------------------------------------*/
/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}